body
{
   color:            black;
   background-color: #efefef;
   font:             86% Verdana,Tahoma,Arial,sans-serif;
   line-height:      1.4em;
   text-align:       justify;

   margin-top:        1%;
   margin-left:      10%;
   margin-right:     10%;
   margin-bottom:     5%;

   padding:          2%;

   border-width:     2px;
   border-style:     solid;
   border-color:     white;

   min-width:        350px;
}

a
{
   color:            #b8a448;
   font-weight:      bold;
   text-decoration:  none;
   background-color: inherit;
}

a:hover
{
   color:            #385900;
   text-decoration:  none;
   background-color: inherit;
}

a img
{
   border:           none;
}

h3.subtitle
{
   display:          block;
   margin:           20px 0 16px 0;
   padding:          0 0 3px 0;
   font-size:        1.7em;
   font-weight:      normal;
   line-height:      100%;
   letter-spacing:   -1px;
   color:            #385900;
   background-color: inherit;
   text-align:       left;
   border-bottom:    1px solid #385900;
}

table
{
   border:           none;
   margin-bottom:    10px;
}

hr
{
   border:           none;
}

h2
{
   color:            #385900;
   font-size:        1.7em;
   text-shadow:      #385900 2px 2px 1px;
}

table.title
{
   color:               #0c1001;
   background-position: 98% 78%;
   background-repeat:   no-repeat;
   background-color:    #a5da10;
   padding:             20px;
   height:              80px;
   margin:              0;
   border-width:        2px;
   border-style:        solid;
   border-color:        white;
   text-shadow:         #828282 2px 2px 1px;
}

table.footer
{
   color:               #0c1001;
   font-size:           1em;
   background-color:    #a5da10;
   padding:             20px;
   margin:              0;

   border-width:        2px;
   border-style:        solid;
   border-color:        white;

   text-align:          right;
   text-shadow:         #828282 2px 2px 1px;
}

td
{
   border: none;
   background: none;
}

td.odd
{
   margin-top: 20px;
   border: none;
   background: none;
}

td.code, td.definition
{
   margin-top:       20px;
   border-top:       1px solid #385900;
   padding:          4px;
   background-color: #a6db11;
}

td.type
{
   border-style dashed;
   border-width: 1px;
   background: none;
}

pre.spark
{
   color: black;
}
